<h1>Customers with Missing Email</h1>

<%= link_to 'All Customers', customers_path %>
<%= link_to 'Alphabetized', alphabetized_customers_path %>

<% @customers.each do |customer| %>
  <%= render partial: 'customer', locals: { customer: customer } %>
<% end %>
